<!-- 
Data Binding 
1. One Way Data Binding
    => from .ts to .html (model to view)
        => Two methods:
            => Interpolation ( {{ }} )
            => Property Binding ( [ ] )
    => from .html to .ts (view to model)
        => One Method:
            => Event Binding ( (event ) )
2. Two Way Data Binding
    => from .ts to .html (model to view)
        => Two methods:
            => Two Way Data Binding ( [(ngModel)] )
3. Signal Data Binding
    => from .ts to .html (model to view)
        => One method:
            => Signal Data Binding ( [input] )
            
-->
